@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What is Comic Relief?</h1>
    <p class="lead">Comic Relief is a web application that helps me battle the forces of chaos and entropy.
    It allows users to view my collection of comics, Add a comic to the collection, update comics, and delete comics.  
    Want to search for comics missing from your collection?  Navigate to the Marvel page
    that will allow users to search Marvel's collection of comics.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View My Comic Collection</h2>
        <p>Navigate here to view my vast collection.  This will allow you to view, update, create and delete comics from the 
        collection.</p>
        <p><a class="btn btn-default" href="~/Collections">View Collection &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Marvel's Site</h2>
        <p>This page allows users to search Marvel's collection of comics using their API.</p>
        <p><a class="btn btn-default" href="~/Marvel">Search Marvel &raquo;</a></p>
    </div>
</div>